:root {
    --red: #d25a4b;
    --blue: #369de9;
    --gray: #aaaaaa;
    --black: #050203;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    color: var(--black);
    font-size: 15px;
}

.btn {
    width: 80%;
    max-width: 280px;
    font-size: 15px;
    font-weight: bold;
    color: var(--black);
    font-family: 'GowunBatang-Regular';
}

.first {
    width:100%;
    height: 100vh;
    background-color: #aaaaaa;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.first .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: 'GowunBatang-Regular';
}

.first .first-top{
  position: absolute;
  font-size: 40px;
  top: 50px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.first .first-bottom {
  position: absolute;
  bottom: 150px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.row {
    padding: 70px 20px;
    text-align: center;
    font-family: 'GowunBatang-Regular';
}

.row2 {
    padding: 70px 20px;
    text-align: center;
    font-family: 'GowunBatang-Regular';
    background: url('/static/bg.png') repeat;
}